@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.dashboard-box-container {
  width: 90%;
  margin: auto;
  padding: 0px;
  margin-bottom: 25px;
}

.card-style {
  background-image: linear-gradient(to right, rgba(102, 153, 255, 0), rgba(255, 255, 255, 0.25));
  background-color: rgba(255, 255, 255, 0.1);
  border: rgb(57, 127, 204) solid 1px;
  border-radius: 13px;
}

.metrics-container {
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.font1 {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  margin: 0px;
  margin-bottom: 5px;
  width: 80%;
}

.font2 {
  font-family: 'Montserrat', sans-serif;
  color: #6699ff;
  font-size: 12pt;
  margin: 0px;
}

.font3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 16pt;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0px;
}

.font4 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 15pt;
  font-weight: bold;
}

.font5 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 28pt;
  font-weight: bold;
}



.flex-card {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}