<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- header and title of section -->
  <div class="dashboard-wraper">
    <div class="header">

    </div>
  </div>
  <!-- Showing dashboard with information -->
  <div class="ScrollBar dashboard-box-wrapper">
    <br />
    <ngx-loading [show]="loading"
      [config]="{animationType: ngxLoadingAnimationTypes.rectangleBounce, primaryColour: 'rgb(255,255,255)', backdropBorderRadius: '3px'}"></ngx-loading>
    <section class="metrics-section">
      <div class="metrics-card-container">
        <app-dashboard-box [metricName]="'Provice With Highest Deaths to Date'"
          [metricValue]="maxProviceDeath.accDeath | number:'1.0'"
          [province]="maxProviceDeath.provinceState"></app-dashboard-box>
        <app-dashboard-box [metricName]="'Provice With Lowest Deaths to Date'"
          [metricValue]="minProviceDeath.accDeath | number:'1.0'"
          [province]="minProviceDeath.provinceState"></app-dashboard-box>
        <app-dashboard-box [metricName]="'Most Affected province (%deaths)'"
          [metricValue]="((mostAfectedProvidence.accDeath/mostAfectedProvidence.population)*100).toFixed(2) + '%'"
          [province]="mostAfectedProvidence.provinceState"></app-dashboard-box>
      </div>
    </section>
    <section class="table-section">
      <div classs="table-section-container">
        <h2>Details by City</h2>
        <button>Add New data</button>
        <div class="table-container ScrollBar">
          <app-dashboard-table [rawData]="elements"></app-dashboard-table>
        </div>
      </div>
    </section>
    <br />
  </div>
</div>