@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.add-form-overlay {
    background-color: #00000052;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-form-container {
    width: 300px;
    padding: 15px 25px 45px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* height: 450px; */
    background-image: linear-gradient(to right, rgba(102, 153, 255, 0), rgba(255, 255, 255, 0.25));
    background-color: #14376d;
    border: #397fcc solid 1px;
    border-radius: 13px;
}

.form-title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 18pt;
    margin-bottom: 5px;
}

.add-form-header {
    text-align: center;

    h3 {
        margin: 0;
    }
}

.add-form-body {
    height: 100%;
    width: 100%;
}



.formItem {
    display: flex;
    flex-direction: column;

    input,
    select {
        height: 40px;
        width: 100%;
        padding: 11px;
        background-color: #ffffffbd;
        margin-bottom: 16px;
        border: none;
    }



}

.form-footer {
    direction: rtl;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;

    button {
        width: 100px;
        height: 29px;
        border-radius: 5px;
        border: none;
        color: #fff;
    }
}

.form-footer:first-child{
    margin-left: 10px;
}