$headerTableColor: rgba(20, 55, 109);
$paginatorColor: rgba(201, 208, 218);

.dashboard-table-container {
    margin: auto;
    padding: 0px;
    margin-bottom: 25px;
    min-width: 900px;
    max-width: 1000px;
}

.pointer:hover {
    cursor: pointer;
}

.table {
    width: 100%;
    max-width: 1000px;
    min-width: 700px;

    .mat-header-cell {
        background-color: $headerTableColor;
        color: #fff;
        font-weight: bold;
        //padding: 0 20px 0 10px;
    }

    .mat-cell {
        padding: 0 15px 0 5px;
    }
}

mat-paginator {
    background-color: $paginatorColor;
}